body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

input, button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

h1, h2, h3 {
  color: #ffeb3b;
}

.cartas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.carta {
  width: 120px;
  height: 160px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 16px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.judía-boom { background-color: #ff6666; }
.la-pocha { background-color: #339933; }
.judía-colorá { background-color: #ffcc66; }
.la-pestosa { background-color: #66ccff; }
.rocky-judía { background-color: #ff66ff; }
.judía-bill { background-color: #66ffff; }
.el-judicultor { background-color: #ff9966; }
.hippy-judía { background-color: #99ff66; }

#camposContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.jugador {
  margin: 10px;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
}

.campos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.campo {
  margin: 5px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
  min-height: 180px;
}
